<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
    	<div id="footer_title">Site Info.</div>
        
        <div class="footer_box">
        	<div class="cleaner_h40"></div>
        	Copyright © 2048 <a href="#">Your Company Name</a><br /> 
        	<a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a><br />
        </div>
        
        <div class="footer_box">
        	<h2>Our Sponsor</h2>
            <div class="blog_image"><span></span><img src="<%= image_path 'templatemo_image_11.png' %>" alt="web template" /></div>
            <p class="blog_section"><span>Monday, November 2010</span>
            Suscipit, nisi sapien dignissimnibh, ac vestibulum lorem urna in neque.</p>
      </div>
        
        <div class="footer_box">
       		<h2>Business partners</h2>
            <ul>
            	<li><a href="#">Cum sociis natoque penatibus</a></li>
                <li><a href="#">Vestibulum auctor odio eget</a></li>
                <li><a href="#">Praesent sollicitudin mollis</a></li>
                <li><a href="#">Quisque blandit eros et lorem</a></li>
            </ul>
        </div>
        
        <div class="cleaner"></div>
    </div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>
