<div id="templatemo_feature_wrapper">
	<div id="templatemo_feature">

		<div id="feature_left">
        
        	<h1>Welcome to CSS Template</h1>
            <p>Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum. Pellentesque vitae magna. Sed nec est. Suspendisse a nibh tristique justo rhoncus volutpat. Suspendisse vitae neque eget ante tristique vestibulum.</p>
            <div class="button"><a href="#">Read more</a></div>
        
        </div>
        
        <div id="feature_right">
        
        	<div id="feature_image"><span></span>
            	<%= image_tag 'templatemo_image_01.png' %>' %>
            </div>
        
        </div>
	
	</div> <!-- end of feature -->
</div> <!-- end of feature warpper -->