  <div id="latest_projects">
    
	<div id="latest_project_text">
            <h2>Latest Projects</h2>
            <p>	Sedut perspiciatis unde omnis iste natus error sit volup tatem accus antium dolorem que lauda ntiumAt vero eos et accusamus et iusto odio.</p>
        </div>
        
        <div class="project_image_box margin_r15">
            <div class="project_image"><span></span>
            	<img src="<%= image_path 'templatemo_image_07.png' %>" alt="image 1" />
            </div>
            <h5><a href="#">sed ut perspiciatis.</a></h5>
	  </div>
        
	<div class="project_image_box margin_r15">
            <div class="project_image"><span></span>
            	<img src="<%= image_path 'templatemo_image_08.png' %>" alt="image 2" />
            </div>
        	<h5><a href="#">emque laudantium</a></h5>
	  </div>
        
	<div class="project_image_box margin_r15">
            <div class="project_image"><span></span>
            	<img src="<%= image_path 'templatemo_image_09.png' %>" alt="image 3" />
            </div>
        <h5><a href="#">eaque ipsa quae</a></h5>
	  </div>
        
      <div class="project_image_box">
	<div class="project_image"><span></span>
            	<img src="<%= image_path 'templatemo_image_10.png' %>" alt="image 4" />
            </div>
          <h5><a href="#">similique sunt.</a></h5>
	  </div>

    </div>
	
	<div  class="cleaner"></div>
</div> <!-- end of content wrapper -->