        <div id="site_title">
            <a href="http://www.templatemo.com" target="_parent">
                <img src="<%= image_path 'templatemo_logo.png' %>" alt="css templates" />
                <span>FREE CSS TEMPLATES</span>
            </a>
      </div>