        <div id="templatemo_menu">
        
            <ul>
                <li><a href="/" class="current">Home</a></li>
                <li><a href="http://www.templatemo.com" target="_parent">Services</a></li>
                <li><a href="http://www.flashmo.com" target="_parent">About Us</a></li>
                <li><a href="http://www.koflash.com" target="_parent">Gallery</a></li>
                <li><a href="/projects/computer">Projects</a></li>
                <li><a href="/contacts/new">Contact</a></li>
            </ul>    	
        
        </div> <!-- end of templatemo_menu -->